{{extend 'layout.html'}}
<body>
{{curr_user = db(auth.user.id == db.auth_user.id).select(db.auth_user.ALL)}}
<h1>
    HELLO!! {{=curr_user[0]['first_name']}}
</h1>
<br>
<br>
<hr>

{{for i,row in enumerate(rows):}}
    {{if i==items_per_page: break}}
        <a href="{{=URL('show', args=row.id)}}">
        <div style="width:33%; display:inline-block; padding:1%; text-align:center; font-size:1.5em ">
        <img src="{{=URL('download', args=row.image)}}" style="width:250px"></img><br>
        {{=row.title}}
        </div>
        </a>
    {{pass}}
<div style="float:center; font-size:150%; text-align:center">
{{if page:}}
<a style="float:center" href="{{=URL(args=[page-1])}}">prev</a>
{{pass}}
{{if len(rows)>items_per_page:}}
<a style="float:center" href="{{=URL(args=[page+1])}}">next</a>
{{pass}}
</div>
<br>
</body>
